
@media screen and (max-width: 861px) {
    .toolbar {
        height: 76px;
        position: fixed;
        display: flex;
        background: rgb(255, 255, 255);
    }
    .toolbar_logo {
        display: flex;
        align-items: center;
    }
    .logoImage {
        height: 50px;
        width: 37px;
        margin-left: 0px;
    }
    .logoType {
        font-size: 28px;
        margin-left: 10px;
        letter-spacing: 0;
        line-height: 28px;
        width: 200px;
    }
    .spacer {
        display: none
    }
    .toolbar_toggle-button {
        display: flex;
        position: absolute;
        right: 20px;
    }
    .toolbar_navigation_items {
        display: none;
    }
}

@media screen and (min-width: 862px) and (max-width: 1023px) {

    .toolbar {
        height: 90px;
    }

    .logoImage {
        height: 58px;
        width: 42px;
        margin-left: 0px;
    }
    
    .logoType {
        font-size: 2rem;
        margin-left: .5rem;
        letter-spacing: 0;
        line-height: 30px;
        width: 250px;
    }

    .toolbar_navigation_items .item {
        font-size: .8rem;
        font-weight: 300;
        color: black;
        text-decoration: none;
        padding: 12px;
        padding-bottom: 10px;
    }
}