@import url('//fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App_Container {
  position: relative;
  min-height: 100vh;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: bolder;
}

.mainSlider {
  padding-top: 100px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  color: white;
}

.slide_1 .slide_headline {
  position: absolute;
  width: 500px;
  top: 360px;
  left: 30px;
  font-size: 3rem;
  line-height: 3.1rem;
  font-weight: 700;
  text-shadow: 3px 3px 3px black;
}

.slide_1 .slide_text {
  position: absolute;
  width: 400px;
  top: 480px;
  left: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px black;
}

.slide_2 .slide_headline {
  position: absolute;
  width: 500px;
  top: 120px;
  right: 30px;
  font-size: 3rem;
  line-height: 3.1rem;
  font-weight: 700;
  text-shadow: 3px 3px 3px black;
  text-align: right;
}

.slide_2 .slide_text {
  position: absolute;
  width: 450px;
  top: 240px;
  right: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px black;
  text-align: right;
}

.slide_3 .slide_headline {
  position: absolute;
  width: 500px;
  top: 80px;
  left: 30px;
  font-size: 3rem;
  line-height: 3.1rem;
  font-weight: 700;
  text-shadow: 3px 3px 3px black;
}

.slide_3 .slide_text {
  position: absolute;
  width: 400px;
  top: 200px;
  left: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 2px 2px 2px black;
}

.missionStatement {
  margin: 2rem auto;
  padding: 0 2rem;
  width: 100%;
  max-width: 1024px;
  font-style: italic;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.2rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.container {
  background-color: #0D0B21;
  padding: 2rem;
  height: 100%;
  color: white;
  text-align: center;
}

.containerWhite {
  background-color: white;
  padding: 2rem;
  height: 100%;
  color: #0D0B21;
  text-align: center;
}

.containerGold {
  background-color: #62481E;
  padding: 2rem;
  height: 100%;
  color: white;
  text-align: center;
}

.subhead {
  font-size: 1.8rem;
}

.sectionMainImage {
  border: 1px solid white;
  margin-top: 2rem;
  width: 100%;
  max-width: 1024px;
  height: auto;
}

.sectionMainImageCaption {
  padding: 1rem 0 1.5rem;
  margin: 0 auto;
  max-width: 1024px;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
}

.aboutUs, .bioText {
  padding: .9rem 0 .1rem;
  margin: 0 auto;
  max-width: 1024px;
  text-align: left;
  font-weight: 300;
  font-size: 1.05rem;
}

.aboutUsIndent {
  padding: .9rem 0 .1rem 8rem;
  margin: 0 auto;
  max-width: 1024px;
  text-align: left;
  font-weight: 300;
  font-size: 1.05rem;
}

.footer {
  background-color: black;
  padding: 2rem;
  height: 100%;
  color: white;
  text-align: center;
}

.speechList {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  
}

li {
  list-style: none;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img225 {
  border: 1px solid white;
  box-shadow: 3px 3px 6px aliceblue;
  width: 320px;
  /* height: 225px; */
  overflow: hidden;
}
.img325 {
  border: 1px solid white;
  box-shadow: 3px 3px 6px aliceblue;
  width: 320px;
  /* height: 325px; */
  overflow: hidden;
}

.imgText {
  text-align: center;
  width: 350px;
  font-size: 1rem;
  padding: 1rem 2rem 3rem 1rem;
}

.bioContainer {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  max-width: 1024px;
  padding-top: 2.5rem;
}

.bio1 .bio2 {
  display: flex;
  flex-direction: row;
  padding: 0 2rem 0 0;
  width: 100%;
  max-width: 511px;

}

.bioImage {
  float: left;
  width: 10.5rem;
  height: 70%;
  padding-right: 1rem;
  
}

.bio1 .bioText {
  margin-right: 2.5rem;
}

.bioText {
  padding: 0 20px 0 0;
  width: 30rem;
}

.bioText p {
  padding: 0 0 1rem 0;
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .mainSlider {
    padding-top: 75px;
    margin: 0 auto;
    color: white;
  }

}

@media screen and (max-width: 480px) {

  .mainSlider {
    padding-top: 75px;
    max-width: 100%;
  }

  .missionStatement {
      font-size: 1.4rem;
      line-height: 1.6rem;
      padding: 0 3rem;
  }

  .slide_1 img, .slide_2 img, .slide_3 img {
    width: 100%;

  }

  .slide_1 .slide_headline {
    position: absolute;
    width: 320px;
    top: 20px;
    left: 30px;
    font-size: 1.8rem;
    line-height: 1.9rem;
    font-weight: 900;
    text-shadow: 3px 3px 3px black;
  }
  
  .slide_1 .slide_text {
    position: absolute;
    width: 300px;
    top: 90px;
    left: 30px;
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px black;
  }
  
  .slide_2 .slide_headline {
    position: absolute;
    width: 300px;
    top: 20px;
    right: 25px;
    font-size: 1.8rem;
    line-height: 1.9rem;
    font-weight: 900;
    text-shadow: 3px 3px 3px black;
    text-align: right;
  }
  
  .slide_2 .slide_text {
    position: absolute;
    width: 260px;
    top: 90px;
    right: 25px;
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px black;
    text-align: right;
  }
  
  .slide_3 .slide_headline {
    position: absolute;
    width: 320px;
    top: 105px;
    right: -15px;
    font-size: 1.8rem;
    line-height: 1.9rem;
    font-weight: 900;
    text-shadow: 3px 3px 3px black;
    text-align: right;
  }
  
  .slide_3 .slide_text {
    position: absolute;
    width: 320px;
    top: 175px;
    right: 0px;
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px black;
    text-align: right;
  }

  .subhead {
      font-size: 1.375rem;
  }

  .sectionMainImageCaption {
      padding: .75rem 0 .25rem;
      text-align: left;
      font-size: 1.125rem;
      margin-bottom: .5rem;
  }

  .img325, .img225 {
      display: none;
  }

  .imgText {
      text-align: left;
      margin-left: 2rem;
      padding-bottom: 1rem;
  }

  .aboutUsIndent {
    padding: .9rem 0 .1rem 1.5rem;
  }

}